<form (ngSubmit)="processForm()" [formGroup]="form">

    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name" required
               formControlName="name" [(ngModel)]="name">
    </div>

    <span class="alert alert-danger alert-dismissable fade show"
          *ngIf="formErrors.name">
        {{ formErrors.name }}
    </span>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" class="form-control" name="username" required
               formControlName="username" [(ngModel)]="username">
    </div>

    <span class="alert alert-danger alert-dismissable fade show"
          *ngIf="formErrors.username">
        {{ formErrors.username }}
    </span>

    <!-- Addresses -->
    <div class="form-group" formArrayName="addresses">
        <div *ngFor="let address of form.controls.addresses.controls; let i = index;">

            <div class="card" [formGroupName]="i">
                <div class="card-heading bg-primary txt-left p-3">
                    <h3 class="text-white d-inline">
                        Adress #{{ i + 1 }}
                        <div class="text-right ml-1 d-inline">
                            <a *ngIf="form.controls.addresses.controls.length > 1"
                               (click)="removeAdress(i)"
                               class="btn btn-danger text-white">
                                Remove
                            </a>
                        </div>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="city">
                            City
                        </label>
                        <input id="city" type="text" class="form-control" formControlName="city" required>
                    </div>

                    <div class="form-group">
                        <label for="country">
                            Country
                        </label>
                        <input type="text" id="country" class="form-control" formControlName="country" required>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Add adress button -->
    <div class="text-right">
        <a (click)="addAdress()" class="btn btn-success text-white">Add Address</a>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>